<?xml version="1.0"?>
<!--
  ~ Copyright © GhostUnicorns spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="GhostUnicorns_CrtReports::reports">
                        <resource id="GhostUnicorns_CrtReportsStock::reports_stock_activity"
                                  title="Stock Activity"
                                  translate="title"
                                  sortOrder="100"/>
                        <resource id="GhostUnicorns_CrtReportsStock::reports_stock_entity"
                                  title="Stock Entity"
                                  translate="title"
                                  sortOrder="110"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
